<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_transparent_2"
        android:label="EnvanTrack"
        android:roundIcon="@drawable/logo_transparent_2"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyStockss"
        tools:targetApi="31">
        <activity
            android:name=".Activities.RollerActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.TalepDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.TalepActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.TalepolusturActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.KullaniciGoruntuleActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CallActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.logActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CalenderActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.stokEkleActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.StokActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CaptureAct"
            android:label="Capture Activity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.mystockss.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Activities.AddItemActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.FeedActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>